*{
    background-color: rgb(192, 192, 192);
    text-align: center;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.imagem{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0.05em 0.05em 0.05em rgb(119, 47, 47);
    margin-top: 2.5em;
    font-size: 5em;
}

img{
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.h2{
    margin-top: 150px;
    font-size: 2.5em;
    font-family: garamond;
}

.h22{
    font-size: 2em;
    font-family: garamond;
    margin-top: 35px;
}

h3{
    margin-top: 200px;
    font-size: 50px;
    font-family: garamond;
    margin-bottom: 30px;
}

input{
    font-size: 20px;
    color: black;
    background-color: rgb(255, 255, 255);
}

button{
    margin-top: 30px;
    margin-bottom: 200px;
    background-color: black;
    color: blanchedalmond;
    font-size: 20px;
    width: 300px;
}

.rod{
    background-color: black;
    display: flex;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    width: 100%;

}

.prod{
    background-color: black;
    color: blanchedalmond;
    width: 33.33%;
}

/* de 2000 a 1420 nao mudara o site, a partir que ultrapassar o limite imposto pelo max width, as configurações
dentro da chave serão aplicadas */

@media screen and (max-width: 1420px){



}