main{
    width: 88%;
    text-align: center;
}

iframe{
    margin: auto;
    margin-bottom: 2em;
}

h1{
    font-family: garamond;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1em;
}

 main > a{
    width: 200px;
    margin-top: 2em;
    text-decoration: underline;
}

main > a:hover{
    background-color: white;
}