@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

#cima{
    text-shadow: 0.05em 0.05em 0.05em rgb(119, 47, 47);    
    font-size: 2em; 
    color: rgb(27, 26, 25); 
    margin-bottom: 7em; 
    margin-left: 5em; 
    font-family: 'Kalam', cursive;
}

#baixo{
    text-shadow: 0.05em 0.05em 0.05em rgb(119, 47, 47);    
    font-size: 2em; 
    color: rgb(27, 26, 25); 
    margin-top: 5em; 
    margin-left: 5em; 
    font-family: 'Kalam', cursive;
}

.h2{
    margin-top: 125px;
    font-size: 35px;
    font-family: garamond;
    margin-left: 3em;
    color: blue;
    background-color: black;
}

