@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

main{
    width: 88%;
    height: 100%;
    text-align: center;
}

div > img{
    margin: auto;
    width: 20em;
}

.areaescura{
    background-color: rgb(88, 88, 88);
    border: 2em solid rgb(88, 88, 88);
}

.areaclara{
    width: 100%;
    height: 58.8%;
    display: flex;
}

.metade1{
    width: 50%;
}

.metade2{
    width: 50%;
}

.umquarto1{
    height: 50%;
}

.umquarto2{
    height: 50%;
}

.text{
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6vh;
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.39);
    color: rgba(109, 107, 5, 0.788);
}